# Entornos virtuales
venv/
btc-env/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de configuración local
*.env

# Archivos de log
*.log

# Bases de datos temporales
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db